@font-face {
    font-family: 'GT Walsheim Pro';
    src: local('GT Walsheim Pro'), url(./assets/fonts/GTWalsheimPro-Regular.woff2) format('woff2');
    line-height: 150%;
}

@font-face {
    font-family: 'GT Walsheim Pro Black';
    src: local('GT Walsheim Pro Black'),
        url(./assets/fonts/GTWalsheimPro-Black.woff2) format('woff2');
    line-height: 150%;
}

@font-face {
    font-family: 'GT Walsheim Pro Bold';
    src: local('GT Walsheim Pro Bold'), url(./assets/fonts/GTWalsheimPro-Bold.woff2) format('woff2');
    line-height: 150%;
}
